input{
    height: 40px;
}

#calculation-entry table tr td{
 padding:5px 5px;
 margin:10px 0;
 text-align: center;
 font-size:13px;
}

#calculation-entry table tr button{
 background: #1090D8;
 color:#fff;
 font-weight: 500;
 padding: 3px 5px;
 border-radius: 5px;
}